html{
    /*  background-color:#899960;*/
    background-image:url(../images/comingsoon.jpg );
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-blend-mode: exclusion;
     background-position: top center ;


     transition-property: background-image;
     transition:2s;



}



.mh{
  text-align: center;
  color:#E48F05;
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: -5px;
  /*border:3px dotted orange ;*/
  background-color: rgba white;
  padding: 20px;
  box-sizing: border-box;
  font-weight: lighter;
  font-family: Julius;
  text-shadow: 3px 5px 10px #999999;


}

 @media screen and (min-width: 800px){

	 .mh,
	.phone{
		width:auto;
		float:none;
	}
 }

.sh{
  color: #E60A8B;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  background-color:rgba white;
  padding:10px 10px;
  margin-top:-5px;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: lighter;
}


.b1{
  border-bottom: :5px solid red ;
}


 /*site nav.........................................................*/
 .sitenav{

 }

.sitenav ul{
      list-style: none;

      margin:0;


}
.sitenav li{


           float:left;
          padding-left: 60px;    /*controlss spacing between list items*/
          padding-right: 60px;   /*controlss spacing between list items*/
         box-sizing: border-box;




}

.sitenav a {       /*it mainly controls all the sitenav together*/
          display: block;
          text-decoration:none;
        /*  border: 2px solid orange;*/
          border-bottom: none;
            /*border-left: 2px solid black;
          border-right: 2px solid black;*/
          border-radius:50px;

          padding: 20px;
          padding-top: 15px;
          padding-bottom: 10px;
          margin-left: 35px;
          margin-right: 10px;
          box-sizing: border-box;
          color: red;
          background-color: rgba white;
          margin-bottom: -1px;
          font-style: italic;
          transition-property: all;
          transition-duration: 3s;









}
.sitenav a:hover{
   /*background-color:#064F7A;*/
   background-color: rgba(255, 0, 0, 0.3);
   color: orange;
  /* transition-property:background-color;
   transition-duration:1s;*/
   transition-property: color,background-color;
   transition-duration: 0.5s;





}

.navborder{
  /*  border-bottom: 5px solid black;  */

  box-sizing: border-box;

}
.fix{
    clear: both;
}
                   /*site nav end..........................*/
